/***UNIVERSAL SELECTOR****/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/***OVERALL****/
.overall {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;

}

/***NAVBAR****/
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: black;
    padding: 10px;
    color: white;
    z-index: 1;
    top: 0px;
    left: 0;
    height: 60px;
    align-items: center;
}

/***CONTENT****/
.content {
    display: flex;
    padding: 5px;
    transition: all 1s;
    gap: 40px
}

/***ANCHOR****/
.content a {
    position: relative;
    font-size: 18px;
    /* background-color: aquamarine; */
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    color: white;
    transition: all 1s;
}

/***ANCHOR UNDERLINE****/
.content a::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    height: 4px;
    width: 0%;
    background-color: white;
    transition: all 0.5s;
}

/*******/
.menu {
    font-size: 30px;
    padding-top: 3px;

}

label {
    display: none;
    /*mobile show agu lap la agadhu*/
}

.box {
    display: none;
    /**mobile la show aagu lap la agadhu*/
}

.content a:hover {
    color: blue
}

.content a:hover::before {
    width: 50%;
}

.content a::after {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    height: 4px;
    width: 0%;
    background-color: white;
    transition: all 0.5s;
}

.content a:hover::after {
    width: 50%;
}

input:checked+.content {
    left: 0px;
    background-color: black;
    z-index: 1;
}

.home {
    width: 100%;
    position: relative;
    overflow: hidden;
    min-height: 114vh;
    padding: 100px;
}

.bg-img img {
    width: 403px;
    height: 400px;
    object-fit: cover;
    position: absolute;
    right: -214px;
    top: 30%;
    transform: rotate(45deg);

}

.overall-home {
    width: 90%;
    height: 60vh;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 1;

}

.homecontent {
    width: 70%;
    height: 100%;
    /* background-color: bisque; */
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 10px;
    font-size: 33px;
    margin-top: 150px;
}

.homecontent a {
    min-width: 140px;
    padding: 10px;
    background-color: aqua;
    border: none;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.homecontent a i {
    width: 30px;
    height: 30px;
    background-color: white;
    color: aqua;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* input:checked+.content {
    left: 0px;
    background-color: black;
    z-index: 1;
} */

.image {
    height: 300px;
    position: relative;
    left: 10px;
    width: 100px;
    top: -80px
}


.dot {

    border-radius: 50%;
    background-color: white;
    filter: blur(8px);
    position: absolute;
    top: 30px;

}

.dot1 {
    height: 25px;
    width: 25px;
    top: 108px;
    left: 110px;
}

.dot2 {
    height: 20px;
    width: 20px;
    top: 150px;
    left: 129px;
}

.dot3 {
    height: 18px;
    width: 18px;
    top: 142px;
    left: 81px;
}

.dot4 {
    height: 22px;
    width: 22px;
    top: 91px;
    left: 70px;
}

.dot5 {
    height: 15px;
    width: 15px;
    top: 104px;
    left: 154px;
}

.dot6 {
    height: 18px;
    width: 18px;
    top: 73px;
    left: 114px;
}


.about {
    width: 100%;
    padding: 10px;
    position: relative;
    top: 0px
}

.heading {
    color: white;
    margin-top: 60px;

    text-align: center;

}

.heading h1 {
    display: inline-block;
    border-bottom: 2px dashed white;
    padding-bottom: 5px;
}

.aboutcontainer {
    width: 100%;
    display: flex;
}

.about-left {
    width: 50%;
    padding: 20px;
    perspective: 1000px;
    /* background-color: blue; */

}

.about-left img:nth-child(1) {
    height: 100px;
    width: 100px
}

.about-left img:last-child {
    height: 100px;
    width: 100px;
    /* position: relative;
    left: 400px */
    margin-left: 80%;
}

.about-right {
    width: 50%;
    display: flex;
}

.quote1 {
    height: 20px;
    width: 20px
}

.quote2 {
    height: 20px;
    width: 20px;
    transform: rotateY('90deg');
}

.rollcube {
    min-height: 45vh;

    display: flex;
    justify-content: center;
    align-items: center;

    perspective: 1000px;
}

.container {
    height: 200px;
    width: 200px;

    position: relative;

    transform-style: preserve-3d;

    animation-name: cube;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}


/* Every side */

.side {
    height: 200px;
    width: 200px;

    position: absolute;

    display: flex;

    transform-style: preserve-3d;
}


/* 3 x 3 grid */

.cube-container {
    height: 100%;
    width: 100%;

    display: grid;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


/* Each small cube */

.cube {
    border: 1px solid white;
    margin: 1px;
}


/* TOP */

.top {
    transform: rotateX(90deg) translateZ(100px);

    /* background-color: rgba(6, 16, 107, 0.6); */
}


/* BOTTOM */

.bottom {
    transform: rotateX(-90deg) translateZ(100px);

    /* background-color: rgba(33, 146, 18, 0.6); */
}


/* RIGHT */

.right {
    transform: rotateY(90deg) translateZ(100px);

    /* background-color: rgba(151, 149, 12, 0.6); */
}


/* LEFT */

.left {
    transform: rotateY(-90deg) translateZ(100px);

    /* background-color: rgba(158, 11, 102, 0.6); */
}


/* BACK */

.back {
    transform: rotateX(180deg) translateZ(100px);
    /* 
    background-color: rgba(238, 28, 13, 0.6); */
}


/* FRONT */

.front {
    transform: rotateX(0deg) translateZ(100px);

    /* background-color: rgba(8, 99, 116, 0.6); */
}


/* ROTATION */

@keyframes cube {

    from {
        transform: rotateX(0deg) rotateY(0deg);
    }

    to {
        transform: rotateX(360deg) rotateY(360deg);
    }

}

.name {
    margin-top: 50px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: absolute;
    color: white;
    font-size: 50px;



}

.name span {
    font-size: 70px;
    -webkit-text-stroke: 1px white;
    color: transparent;
    position: relative;
    top: 30px;
    animation: bounce 1s ease infinite alternate;
}

h1 span:nth-child(2) {
    animation-delay: 0.1s;
}

h1 span:nth-child(3) {
    animation-delay: 0.2s;
}

h1 span:nth-child(4) {
    animation-delay: 0.3s;
}

h1 span:nth-child(5) {
    animation-delay: 0.4s;
}

h1 span:nth-child(6) {
    animation-delay: 0.5s;
}

h1 span:nth-child(7) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    100% {
        top: -20px
    }
}

@media only screen and (min-width:300px) and (max-width:600px) {
    .name {
        font-size: 10px;
    }
}

.rightcontent {
    position: relative;
    top: 250px;

}

.quote1 {
    height: 30px;
    width: 30px
}

.quote2 {
    height: 30px;
    width: 30px;
    transform: rotateY(176deg);
}


.rightcontent p {
    font-size: 30px;
    color: white;
    line-height: 32px;
}

/****siklls******/
.skills {
    width: 100%;
    padding: 10px;
    /* position: relative;
    top: 210px */
}


/****skilloverall******/
.overallskill {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/****overall each card******/
.skillcard {
    width: 349px;
    height: 469px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*****each card*****/
.card {
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    border: 2px solid white;
    border-image: none;


}

/****num cont******/
.num {
    position: absolute;
    font-size: 100px;
    color: transparent;
    left: -50px;
    top: 40px;
    background-color: black;
    width: 100px;
    height: 139px;
    -webkit-text-stroke: 2px white;
}

/****num******/
.num h2 {
    display: block;
    font-size: 150px;
    font-weight: bold;
}

/****ball******/
.ball {

    width: 80px;
    height: 17px;
    background-color: black;
    position: absolute;
    left: -51px;
    top: 177px;
    padding-left: 19px;

}

/*****ball shape*****/
.ball>p {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
}

/****grey color******/
.grey-circle {
    width: 200px;
    height: 300px;
    background-color: rgba(122, 119, 119, 0.5);
    position: absolute;
    /* overflow: hidden; */
    border-radius: 20px;
    transition: 1s;
    gap: 20px;
}

/****card button******/
.card button {
    width: 80%;
    color: white;
    background-color: darkslateblue;
    font-size: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    padding: 15px;
    border-radius: 30px;
    border-width: medium;
    border-style: none;
    border-color: currentcolor;
    border-image: none;
    gap: 20px;
}

/****skill img******/
.card img {
    height: 100px;
    width: 100px;
}

.circle-1 {
    clip-path: circle(70px at right top);
}

.card:hover .circle-1 {
    clip-path: circle(560px at right top);

}

.card:hover button {
    background-color: purple;
}

.card:hover .card {
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.15);
}

/***education***/
.education {
    width: 100%;
    background: #000;
    color: #fff;
    overflow: hidden;
    padding-bottom: 100px;
}

/* CONTAINER */
.education-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
    margin-top: 50px;
}

/* CARD */
.education-card {
    /* min-height: 310px; */
    padding: 35px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #080808;
    border: 1px solid #292929;
    border-radius: 20px;
    transition: all 0.5s ease;
}

/* CARD HOVER */
.education-card:hover {
    transform: translateY(-15px);
    border-color: #fff;
    box-shadow: 0 15px 35px rgba(255, 255, 255, 0.15);
}

/* CIRCLE */

.progress-circle {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    transition: transform 0.6s ease;
}

/* HSC - 88% */
.school {
    background: conic-gradient(white 0% 88%, black 88% 100%);

}


/* B.Tech - 84% */
.btech {
    background: conic-gradient(white 0% 84%, black 84% 100%);
}

/* INNER CIRCLE */

.progress-circle::before {
    content: "";
    position: absolute;
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background: #080808;
}

/* PERCENTAGE */

.progress-content {
    position: relative;
    z-index: 1;
}

.progress-content h2 {
    font-size: 20px;
    margin: 0;
}

/* HOVER CIRCLE */

.education-card:hover .progress-circle {
    transform: rotate(360deg);
}

/* DEGREE */

.degree {
    padding: 5px 14px;
    margin-bottom: 12px;
    border: 1px solid #444;
    border-radius: 20px;
    font-size: 10px;
    letter-spacing: 2px;
    color: #aaa;
}

/* TITLE */
.education-card>h2 {
    font-size: 20px;
    margin: 5px 0 12px;
}


/* SCHOOL */

.education-card>p {
    color: #777;
    font-size: 13px;
    line-height: 1.6;
    margin: 0 0 12px;
}


/* YEAR */

.education-card>small {
    color: #555;
    font-size: 12px;
    letter-spacing: 1px;
}



/* RESPONSIVE - TABLET */

@media (max-width: 992px) {
    .education {
        padding: 80px 5%;
    }
}



/* RESPONSIVE - MOBILE */

@media (max-width: 600px) {

    .education {
        padding: 70px 20px;
    }

    .education-heading {
        margin-bottom: 45px;
    }

    .education-heading h1 {
        font-size: 40px;
    }

    .education-card {
        min-height: 290px;
        padding: 30px 20px;
    }

    .education-card:hover {
        transform: translateY(-8px);
    }

}

.project {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.project-overall {
    width: 100%;
    min-height: 67vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: aqua; */
    padding: 30px
}

.project-left {
    width: 40%;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: red; */
}

.clippath1 {
    width: 350px;
    height: 300px;
    background-image: url(./Global.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(122, 119, 119, 0.5);
    border-radius: 20px;
    box-shadow: 1px 2px 8px 5px gray;
    clip-path: path('M20,0 L330,51 A20,20 0 0 1 350,71 L350,229 A20,20 0 0 1 330,249 L20,300 A20,20 0 0 1 0,280 L0,20 A20,20 0 0 1 20,0 Z');
    position: absolute;
    transition: 2s all;
}

.clippath2 {
    width: 350px;
    height: 300px;
    background-color: rgba(98, 125, 194, 0.954);
    border-radius: 20px;
    box-shadow: 1px 2px 8px 5px gray;
    clip-path: path('M20,0 L330,51 A20,20 0 0 1 350,71 L350,229 A20,20 0 0 1 330,249 L20,300 A20,20 0 0 1 0,280 L0,20 A20,20 0 0 1 20,0 Z');
    position: absolute;
    left: 100px;
    top: 40px;
    transition: 2s all;
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-left:hover .clippath2 {
    transform: translateY(-100px);
    background-color: rgba(122, 119, 119, 0.5);
}

.project-left:hover .clippath1 {
    transform: translateY(100px);
    background-color: transparent;
}

.project-right {
    width: 60%;
    /* background-color: rgb(77, 77, 8); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.project-right p {
    line-height: 22px;
    word-spacing: 5px;
}

.project-right a {
    background-color: #fff;
    border-radius: 20px;
    padding: 10px;
    color: black
}

@media only screen and (min-width:300px) and (max-width:600px) {
    .project-overall {
        flex-direction: column;
        padding: 10px;
    }

    .project-left {
        width: 100%;
        margin-top: 55px;
        margin-bottom: 75px;
    }

    .about-right {
        width: 100%
    }

    .clippath1 {
        width: 250px;
        height: 200px;
        clip-path: none;
        border-radius: 20px;
        box-shadow: none;

    }

    .clippath2 {
        width: 250px;
        height: 200px;
        clip-path: none;
        border-radius: 20px;
        box-shadow: none;
        left: 0
    }
}

@media only screen and (min-width:380px) and (max-width:600px) {
    .clippath2 {
        width: 250px;
        height: 200px;
        clip-path: none;
        border-radius: 20px;
        box-shadow: none;
        left: 90px;
    }
}

@media only screen and (min-width:600px) and (max-width:700px) {
    .clippath2 {
        top: 50px
    }

    .project-overall {
        padding: 5px;
    }

    .project-right {
        padding-left: 30px;
    }
}

@media only screen and (min-width:600px) and (max-width:900px) {
    .clippath1 {
        width: 250px;
        height: 200px;
        clip-path: none;
        border-radius: 20px;
        box-shadow: none;

    }

    .clippath2 {
        width: 250px;
        height: 200px;
        clip-path: none;
        border-radius: 20px;
        box-shadow: none;
        left: 0;
        top: 21px
    }
}

@media only screen and (min-width:900px) and (max-width:1250px) {
    .project-overall {
        padding: 20px;
        gap: 20px
    }

    .project-left {
        margin: 10px;
    }

    .about-right {
        margin: 10px;
    }

    .clippath2 {
        left: -2px
    }
}

.contact {
    width: 100%;
}

.contact-overall {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contactbox {
    width: 350px;
    min-height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 55%, rgb(54, 120, 197) 110%);
    transition: 1s;
}

.cont-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 55%, rgb(165, 197, 49) 110%);
    transition: 1s;
}

.cont-3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 55%, rgb(32, 153, 184) 110%);
    transition: 1s;
}

.cont-4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 55%, rgb(108, 131, 26) 110%);
    transition: 1s;
}

.cont-5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 55%, rgb(202, 37, 106) 110%);
    transition: 1s;
}

.cont-6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 55%, rgb(32, 73, 187) 110%);
    transition: 1s;
}

.outerdiv {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.innerdiv {
    width: 160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icons {
    display: flex;
    flex-direction: column;
}

.icons img:first-child {
    height: 35px;
    width: 90px;
    position: relative;
    top: 35px;
    left: 0px;
}

.icons img:last-child {
    height: 50px;
    width: 50px;
    position: relative;
    top: -48px;
    left: 25px;
}

.contactbox:hover .cont-1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(54, 120, 197, 1) 110%);
    transform: scale(1.05);
}

.contactbox:hover .cont-2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(165, 197, 49) 110%);
    transform: scale(1.05);
}

.contactbox:hover .cont-3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(91, 231, 241) 110%);
    transform: scale(1.05);
}

.contactbox:hover .cont-4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(114, 211, 61) 110%);
    transform: scale(1.05);
}

.contactbox:hover .cont-5 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgb(224, 72, 206) 110%);
    transform: scale(1.05);
}

.contactbox:hover .cont-6 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(54, 120, 197, 1) 110%);
    transform: scale(1.05);
}

@media only screen and (min-width:300px) and (max-width:600px) {
    .contactbox {
        width: 280px
    }
}

@media only screen and (min-width:600px) and (max-width:900px) {
    .content {
        gap: 20px
    }

    .home {
        padding: 80px 50px;
        min-height: 100vh;
    }

    .overall-home {
        width: 100%;
        height: 70vh;
        flex-direction: column;
    }

    .homecontent {
        width: 65%;
        font-size: 26px;
        position: relative;
        top: 133px;
        margin-top: -30px;
    }

    .image {
        height: 300px;
        left: -60px;
    }

    .homecontent h3 {
        font-size: 28px;
    }

    .homecontent h1 {
        font-size: 45px;
    }

    .homecontent p {
        font-size: 18px;
        line-height: 1.5;
    }

    .homecontent button {
        min-width: 130px;
        font-size: 18px;
    }

    .bg-img img {
        width: 320px;
        height: 320px;
        right: -170px;
        top: 30%;
    }

    .aboutcontainer {
        flex-direction: column;
    }

    .about-left {
        width: 100%
    }

    .about-right {
        width: 100%
    }

    .skills {

        margin-top: 330px;
    }

    .skillcard {
        width: 334px;
    }


}

@media only screen and (min-width:300px) and (max-width:600px) {
    .content {
        position: fixed;
        background-color: aliceblue;
        left: 120%;
        top: 60px;
        width: 100%;
        height: 80vh;
        gap: 30px;
        flex-direction: column;
        justify-content: flex-start;
        padding: 50px 20px;
        align-items: center;

    }

    label {
        display: inline
    }

    .home {
        padding: 100px 25px 50px;
        min-height: 100vh;
    }

    .overall-home {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -140px;
    }

    .homecontent {
        width: 100%;
        height: auto;
        align-items: center;
        text-align: center;
        font-size: 20px;
        gap: 12px;
    }

    .homecontent h3 {
        font-size: 24px;
    }

    .homecontent h1 {
        font-size: 38px;
    }

    .homecontent p {
        font-size: 16px;
        line-height: 1.5;
    }

    .homecontent button {
        min-width: 130px;
        padding: 8px;
        font-size: 17px;
    }

    .homecontent button i {
        width: 28px;
        height: 28px;
    }

    .image {
        width: 100%;
        left: -94px;
    }

    .bg-img img {
        width: 250px;
        height: 250px;
        right: -140px;
        top: 45%;
    }


    .aboutcontainer {
        flex-direction: column;
    }

    .about-left {
        width: 100%
    }

    .about-right {
        width: 100%
    }

    .about-left img:last-child {
        margin-left: 68%;
        margin-top: 55px;
    }

    .skills {
        margin-top: 290px;
    }

    .about-left img:nth-child(1) {

        margin-bottom: 30px;
    }
}

@media only screen and (min-width:410px) and (max-width:600px) {}